.QuestionResultsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    color: #4a4063;
    height: 255px;
    width: 400px;
    border-style: groove;
    border-radius: 10%;
    margin-top:30px;
}
.BiggerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
  
}