.NewQuestion {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #4a4063;
  background-color: beige;
  justify-content: center;
  margin: 20px;
  border-style: groove;
  border-radius: 20px;
  width: 400px;
  height: 300px;
}

.NewQuestionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.NewQuestionButton {
  color: purple;
  display: inline-block;
  padding: 0.7em 3em;
  border: 0.16em solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
}
.NewQuestionButton:hover {
  color: #dddddd;
  border-color: #dddddd;
}
