.Question {
  background-color: #BCDCC4;

  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.QuestionContainer {
  display: flex;
  flex-direction: column;

  padding-left: 400px;
  padding-right: 400px;
}
